$background: rgb(30,30,30);
$primary-color: rgb(240,240,240);

%outline{
	border:1px solid $primary-color;
}

body{
	background:$background;
}

h1{
	color:$primary-color;
	animation:flicker 0.2s infinite;
}

p{
	color:$primary-color;
	@extend %outline;
	width:50%;
	margin:0 auto;
}

@keyframes flicker{
	from{
		color:$background;
	}
	to{
		color:$primary-color;
	}
}