$background: rgb(30,30,30);
$primary-color: rgb(240,240,240);

%outline{
	border-top:1px solid $primary-color;
	border-bottom:1px solid $primary-color;
}

body{
	background:$background;
}

h1{
	color:$primary-color;
	animation:flicker 0.2s infinite;
	margin-top:0rem;
	margin-bottom:2rem;
}

p{
	color:$primary-color;
	@extend %outline;
	width:50%;
	margin:0 auto;
}

.diagram{
	display:block;
	margin:0 auto;
	max-width:25%;
	animation:flicker 0.2s infinite;
}

@keyframes flicker{
	from{
		opacity:0.0;
		// color:$background;
	}
	to{
		opacity:1.0;
		// color:$primary-color;
	}
}